<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Core Online Tutorial - List Products</title>

    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" media="screen">
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.5.0/jquery.min.js"
            th:href="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>

    <link rel="stylesheet" href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" media="screen">
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Product List</h2>

        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Price</th>
                <th>ImageUrl</th>
                <th>List</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.imageUrl}"></td>
                <td><a th:href="${'/product/' + product.id}">View</a></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>